body{
    color: rgb(12, 10, 10);
    background-color: rgb(227, 235, 227);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{ font-size: 50px;
display: block;
margin-top: 5px;
margin-bottom: 6px;
}

.imagem-destaque{
    margin-top: 5px;
    margin-bottom: 6px;
    align-self: center;
}

h2 {font-size: 40 px;
    text-align: center;
}

#texto.secundario{
    display: block;
    justify-content: flex-start

}

table, th, td  {
    margin: auto;
    border: 1px solid black    
}

input{
    width: 70%;
    align-content: center;
    padding: 9px 9px;
    margin: 5px 0;
    box-sizing: border-box;
    position: relative;

  }

  label{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: large;
    font-style: oblique;
  }
  botton {
    background:    #0000ff;
border-radius: 1000px;
padding:       20px 45px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 26px/1 "Roboto", sans-serif;
text-align:    center;
}